<a href="https://colab.research.google.com/github/Swetha1652001/Pyspark-/blob/main/Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PySpark has been released in order to support the collaboration of Apache Spark and Python, it actually is a Python API for Spark. In addition, PySpark, helps you interface with Resilient Distributed Datasets (RDDs) in Apache Spark and Python programming language. This has been achieved by taking advantage of the Py4j library.

In [1]:
#installing pyspark
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 21.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=9a04d523bdd0ea9f6f6fc1e08ad359498b8feeb637b74b3a755cdca36b7f0b16
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
!pip install findspark
#Provides findspark.init() to make pyspark importable as a regular library.

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [3]:
#install dependencies
import findspark
findspark.init()
import pyspark as ps
import warnings
from pyspark.sql import SQLContext

In [4]:
#create the session
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.getOrCreate()

In [6]:
spark

In [7]:
#import packages
import pandas as pd
import numpy as np

In [8]:
#reading the data in pandas
data=pd.read_csv("facebook_data.csv")

In [9]:
#viewing the top 5 data in the dataset
data.head(5)

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0

In [10]:
#size of data
print((data.count(), len(data.columns)))

(userid                   99003
age                      99003
dob_day                  99003
dob_year                 99003
dob_month                99003
gender                   98828
tenure                   99001
friend_count             99003
friendships_initiated    99003
likes                    99003
likes_received           99003
mobile_likes             99003
mobile_likes_received    99003
www_likes                99003
www_likes_received       99003
dtype: int64, 15)

In [11]:
#reading the file in spark
df_data=spark.read.csv("facebook_data.csv")

In [12]:
df_pyspark=spark.read.option('header','true').csv("facebook_data.csv",inferSchema=True)

In [13]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [14]:
df_pyspark.head(5)

[Row(userid=2094382, age=14, dob_day=19, dob_year=1999, dob_month=11, gender='male', tenure='266', friend_count=0, friendships_initiated=0, likes=0, likes_received=0, mobile_likes=0, mobile_likes_received=0, www_likes=0, www_likes_received=0),
 Row(userid=1192601, age=14, dob_day=2, dob_year=1999, dob_month=11, gender='female', tenure='6', friend_count=0, friendships_initiated=0, likes=0, likes_received=0, mobile_likes=0, mobile_likes_received=0, www_likes=0, www_likes_received=0),
 Row(userid=2083884, age=14, dob_day=16, dob_year=1999, dob_month=11, gender='male', tenure='13', friend_count=0, friendships_initiated=0, likes=0, likes_received=0, mobile_likes=0, mobile_likes_received=0, www_likes=0, www_likes_received=0),
 Row(userid=1203168, age=14, dob_day=25, dob_year=1999, dob_month=12, gender='female', tenure='93', friend_count=0, friendships_initiated=0, likes=0, likes_received=0, mobile_likes=0, mobile_likes_received=0, www_likes=0, www_likes_received=0),
 Row(userid=1733186, age=14, dob_day=4, dob_year=1999, dob_month=12, gender='male', tenure='82', friend_count=0, friendships_initiated=0, likes=0, likes_received=0, mobile_likes=0, mobile_likes_received=0, www_likes=0, www_likes_received=0)]

In [15]:
df_pyspark.printSchema()

root
 |-- userid: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- dob_day: integer (nullable = true)
 |-- dob_year: integer (nullable = true)
 |-- dob_month: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- tenure: string (nullable = true)
 |-- friend_count: integer (nullable = true)
 |-- friendships_initiated: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- likes_received: integer (nullable = true)
 |-- mobile_likes: integer (nullable = true)
 |-- mobile_likes_received: integer (nullable = true)
 |-- www_likes: integer (nullable = true)
 |-- www_likes_received: integer (nullable = true)

In [16]:
df_pyspark.show()

+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
| userid|age|dob_day|dob_year|dob_month|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
|2094382| 14|     19|    1999|       11|  male|   266|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1192601| 14|      2|    1999|       11|female|     6|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|2083884| 14|     16|    1999|       11|  male|    13|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1203168| 14|     25|    1999|       12|female|    93|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1733186| 14|      4|    1999|       12|  male|    82|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1524765| 14|      1|    1999|       12|  male|    15|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1136133| 13|     14|    2000|        1|  male|    12|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1680361| 13|      4|    2000|        1|female|     0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1365174| 13|      1|    2000|        1|  male|    81|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1712567| 13|      2|    2000|        2|  male|   171|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1612453| 13|     22|    2000|        2|  male|    98|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|2104073| 13|      1|    2000|        2|  male|    55|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1918584| 13|      5|    2000|        3|  male|   106|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1704433| 13|     21|    2000|        3|  male|    61|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1932519| 13|     28|    2000|        3|female|     0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1751722| 13|      7|    2000|        4|female|    16|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1470850| 13|     30|    2000|        5|female|    34|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1001768| 13|     23|    2000|        5|female|    25|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1537661| 13|     16|    2000|        5|female|     4|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1020296| 13|     13|    2000|        8|  male|     9|           0|                    0|    0|             0|           0|                    0|        0|                 0|
+-------+---+-------+--------+---------+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
only showing top 20 rows

In [17]:
df_pyspark.dropna()
df_pyspark.count()

99003

In [18]:
df_pyspark.describe().show()

+-------+------------------+-----------------+-----------------+-----------------+------------------+------+-----------------+------------------+---------------------+------------------+-----------------+------------------+---------------------+------------------+------------------+
|summary|            userid|              age|          dob_day|         dob_year|         dob_month|gender|           tenure|      friend_count|friendships_initiated|             likes|   likes_received|      mobile_likes|mobile_likes_received|         www_likes|www_likes_received|
+-------+------------------+-----------------+-----------------+-----------------+------------------+------+-----------------+------------------+---------------------+------------------+-----------------+------------------+---------------------+------------------+------------------+
|  count|             99003|            99003|            99003|            99003|             99003| 99003|            99003|             99003|                99003|             99003|            99003|             99003|                99003|             99003|             99003|
|   mean|1597045.2079128916|37.28022383160106|14.53040816944941|1975.719776168399| 6.283365150550994|  null|537.8873748750012| 196.3507873498783|   107.45247113723826|156.07878549134875|142.6893629485975|106.11629950607558|     84.1204912982435| 49.96242538104906| 58.56883124753795|
| stddev|344059.17746440973|22.58974831325893|9.015606358925021|22.58974831325914|3.5296715686966302|  null|457.6498738695649|387.30422898757763|   188.78695100421174| 572.2806808445109|1387.919612505507|445.25298506801823|    839.8894437413301|285.56015186568516|  601.416348049782|
|    min|           1000008|               13|                1|             1900|                 1|    NA|                0|                 0|                    0|                 0|                0|                 0|                    0|                 0|                 0|
|    max|           2193542|              113|               31|             2000|                12|  male|               NA|              4923|                 4144|             25111|           261197|             25111|               138561|             14865|            129953|
+-------+------------------+-----------------+-----------------+-----------------+------------------+------+-----------------+------------------+---------------------+------------------+-----------------+------------------+---------------------+------------------+------------------+

In [19]:
#shape of the dataset
print("shape of dataset:" ,(df_pyspark.count(),len(df_pyspark.columns)))

shape of dataset: (99003, 15)

In [20]:
#select columns and row
df_pyspark.select(['userid','age','gender','tenure']).show()

+-------+---+------+------+
| userid|age|gender|tenure|
+-------+---+------+------+
|2094382| 14|  male|   266|
|1192601| 14|female|     6|
|2083884| 14|  male|    13|
|1203168| 14|female|    93|
|1733186| 14|  male|    82|
|1524765| 14|  male|    15|
|1136133| 13|  male|    12|
|1680361| 13|female|     0|
|1365174| 13|  male|    81|
|1712567| 13|  male|   171|
|1612453| 13|  male|    98|
|2104073| 13|  male|    55|
|1918584| 13|  male|   106|
|1704433| 13|  male|    61|
|1932519| 13|female|     0|
|1751722| 13|female|    16|
|1470850| 13|female|    34|
|1001768| 13|female|    25|
|1537661| 13|female|     4|
|1020296| 13|  male|     9|
+-------+---+------+------+
only showing top 20 rows

In [21]:
df_pyspark.dtypes

[('userid', 'int'),
 ('age', 'int'),
 ('dob_day', 'int'),
 ('dob_year', 'int'),
 ('dob_month', 'int'),
 ('gender', 'string'),
 ('tenure', 'string'),
 ('friend_count', 'int'),
 ('friendships_initiated', 'int'),
 ('likes', 'int'),
 ('likes_received', 'int'),
 ('mobile_likes', 'int'),
 ('mobile_likes_received', 'int'),
 ('www_likes', 'int'),
 ('www_likes_received', 'int')]

In [22]:
#drop columns dob_year and dob_day as we have age as a feature in the dataset already
df_pyspark=df_pyspark.drop('dob_day','dob_year','dob_month')
df_pyspark

DataFrame[userid: int, age: int, gender: string, tenure: string, friend_count: int, friendships_initiated: int, likes: int, likes_received: int, mobile_likes: int, mobile_likes_received: int, www_likes: int, www_likes_received: int]

In [26]:
df_pyspark.na.drop(how='all').show()

+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
| userid|age|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|
+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
|2094382| 14|  male|   266|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1192601| 14|female|     6|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|2083884| 14|  male|    13|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1203168| 14|female|    93|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1733186| 14|  male|    82|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1524765| 14|  male|    15|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1136133| 13|  male|    12|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1680361| 13|female|     0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1365174| 13|  male|    81|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1712567| 13|  male|   171|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1612453| 13|  male|    98|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|2104073| 13|  male|    55|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1918584| 13|  male|   106|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1704433| 13|  male|    61|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1932519| 13|female|     0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1751722| 13|female|    16|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1470850| 13|female|    34|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1001768| 13|female|    25|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1537661| 13|female|     4|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1020296| 13|  male|     9|           0|                    0|    0|             0|           0|                    0|        0|                 0|
+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
only showing top 20 rows

In [81]:
df_pyspark.na.drop(how='any',thresh=1).show(3)

+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
| userid|age|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|
+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
|2094382| 14|  male| 266.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1192601| 14|female|   6.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|2083884| 14|  male|  13.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
only showing top 3 rows

In [82]:
print("shape of dataset:" ,(df_pyspark.count(),len(df_pyspark.columns)))

shape of dataset: (99003, 12)

In [84]:
df_pyspark.na.drop(how='any',subset=['gender']).show(2)

+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
| userid|age|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|
+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
|2094382| 14|  male| 266.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
|1192601| 14|female|   6.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|
+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+
only showing top 2 rows

In [85]:
#imputer fn to replace null values with mean
from pyspark.ml.feature import Imputer

imputer=Imputer(
    inputCols=['age','tenure'],
    outputCols=['{}_imputed'.format(c) for c in ['age','tenure']]
).setStrategy("mean")

In [86]:
#changing datatype of tenure from string to int to fit the model
df_pyspark = df_pyspark.withColumn("tenure", df_pyspark.tenure.cast('float'))

In [87]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+-----------+--------------+
| userid|age|gender|tenure|friend_count|friendships_initiated|likes|likes_received|mobile_likes|mobile_likes_received|www_likes|www_likes_received|age_imputed|tenure_imputed|
+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+-----------+--------------+
|2094382| 14|  male| 266.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         14|         266.0|
|1192601| 14|female|   6.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         14|           6.0|
|2083884| 14|  male|  13.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         14|          13.0|
|1203168| 14|female|  93.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         14|          93.0|
|1733186| 14|  male|  82.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         14|          82.0|
|1524765| 14|  male|  15.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         14|          15.0|
|1136133| 13|  male|  12.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|          12.0|
|1680361| 13|female|   0.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|           0.0|
|1365174| 13|  male|  81.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|          81.0|
|1712567| 13|  male| 171.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|         171.0|
|1612453| 13|  male|  98.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|          98.0|
|2104073| 13|  male|  55.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|          55.0|
|1918584| 13|  male| 106.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|         106.0|
|1704433| 13|  male|  61.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|          61.0|
|1932519| 13|female|   0.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|           0.0|
|1751722| 13|female|  16.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|          16.0|
|1470850| 13|female|  34.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|          34.0|
|1001768| 13|female|  25.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|          25.0|
|1537661| 13|female|   4.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|           4.0|
|1020296| 13|  male|   9.0|           0|                    0|    0|             0|           0|                    0|        0|                 0|         13|           9.0|
+-------+---+------+------+------------+---------------------+-----+--------------+------------+---------------------+---------+------------------+-----------+--------------+
only showing top 20 rows

In [104]:
#filter
df_pyspark.filter("age<=18").select(['userid','gender']).count()

16592

In [103]:
df_pyspark.filter((df_pyspark['age']<=18) & 
                  (df_pyspark['tenure']>=100)).count()

14092

In [102]:
#inverse filter operation
df_pyspark.filter(~
                  (df_pyspark['age']<=18) & 
                  (df_pyspark['tenure']>=100)).count()

74872

In [92]:
#pyspark group by and aggregate fn
#group to find max likes
df_pyspark.groupby('gender').count().show()

+------+-----+
|gender|count|
+------+-----+
|    NA|  175|
|female|40254|
|  male|58574|
+------+-----+

In [106]:
df_pyspark.groupby('age').count().show()

+---+-----+
|age|count|
+---+-----+
| 31| 1694|
| 85|   83|
| 65|  693|
| 53| 1192|
| 78|  162|
|108| 1661|
| 34| 1257|
|101|  157|
| 81|  108|
| 28| 2364|
| 76|  178|
| 26| 2815|
| 27| 2240|
| 44|  877|
|103| 1044|
| 91|   76|
| 22| 3032|
| 93|  203|
|111|   18|
| 47|  902|
+---+-----+
only showing top 20 rows

In [95]:
df_pyspark.groupby('gender').max().show()

+------+-----------+--------+-----------+-----------------+--------------------------+----------+-------------------+-----------------+--------------------------+--------------+-----------------------+
|gender|max(userid)|max(age)|max(tenure)|max(friend_count)|max(friendships_initiated)|max(likes)|max(likes_received)|max(mobile_likes)|max(mobile_likes_received)|max(www_likes)|max(www_likes_received)|
+------+-----------+--------+-----------+-----------------+--------------------------+----------+-------------------+-----------------+--------------------------+--------------+-----------------------+
|    NA|    2193243|     113|     2594.0|             2548|                      1130|      3372|               4993|             2348|                      3126|          1145|                   1867|
|female|    2193538|     113|     3129.0|             4923|                      3654|     16732|             261197|            16732|                    138561|         14865|                 129953|
|  male|    2193542|     113|     3139.0|             4917|                      4144|     25111|              82623|            25111|                     43410|         12903|                  39213|
+------+-----------+--------+-----------+-----------------+--------------------------+----------+-------------------+-----------------+--------------------------+--------------+-----------------------+

In [96]:
df_pyspark.groupby('gender').min().show()

+------+-----------+--------+-----------+-----------------+--------------------------+----------+-------------------+-----------------+--------------------------+--------------+-----------------------+
|gender|min(userid)|min(age)|min(tenure)|min(friend_count)|min(friendships_initiated)|min(likes)|min(likes_received)|min(mobile_likes)|min(mobile_likes_received)|min(www_likes)|min(www_likes_received)|
+------+-----------+--------+-----------+-----------------+--------------------------+----------+-------------------+-----------------+--------------------------+--------------+-----------------------+
|    NA|    1004980|      15|      185.0|                1|                         0|         0|                  0|                0|                         0|             0|                      0|
|female|    1000008|      13|        0.0|                0|                         0|         0|                  0|                0|                         0|             0|                      0|
|  male|    1000038|      13|        0.0|                0|                         0|         0|                  0|                0|                         0|             0|                      0|
+------+-----------+--------+-----------+-----------------+--------------------------+----------+-------------------+-----------------+--------------------------+--------------+-----------------------+

In [99]:
df_pyspark.agg({'likes':'max'}).show()

+----------+
|max(likes)|
+----------+
|     25111|
+----------+

In [101]:
df_pyspark.agg({'likes_received':'max'}).show()

+-------------------+
|max(likes_received)|
+-------------------+
|             261197|
+-------------------+

In [70]:
df_pyspark.agg({'friend_count':'sum'}).show()

+-----------------+
|sum(friend_count)|
+-----------------+
|         19439317|
+-----------------+

In [71]:
df_pyspark.agg({'friendships_initiated':'sum'}).show()

+--------------------------+
|sum(friendships_initiated)|
+--------------------------+
|                  10638117|
+--------------------------+

In [72]:
df_pyspark.agg({'mobile_likes':'sum'}).show()

+-----------------+
|sum(mobile_likes)|
+-----------------+
|         10505832|
+-----------------+

In [73]:
df_pyspark.agg({'mobile_likes_received':'sum'}).show()

+--------------------------+
|sum(mobile_likes_received)|
+--------------------------+
|                   8328181|
+--------------------------+

In [75]:
df_pyspark.agg({'www_likes':'sum'}).show()

+--------------+
|sum(www_likes)|
+--------------+
|       4946430|
+--------------+

In [77]:
df_pyspark.agg({'www_likes_received':'sum'}).show()

+-----------------------+
|sum(www_likes_received)|
+-----------------------+
|                5798490|
+-----------------------+